h1.content.info{
    text-align: center;
}
div.links{
    display: flex;
    align-items: center;
    align-content: space-around;
}
a.links{
    flex: 25%;
}
img.links.discord{
    width: 30%;
    
}
img.links.gmail{
    width: 20%;
    align-self: center;
}
img.links.linked{
    width: 30%;
}
img.links.voice{
    width: 20%;
}