
div.content{
    color: #34aaff;
    background-color: #020427;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border-top: #34aaff 1px solid;
}
hr.content.info{
    width: initial;
    border: #34aaff 1px solid;
}
h1.content.info{
    padding: 2px;
    flex: 50%;
    align-self: center;
    text-align: center;
}
p.content.info{
    flex: 50%;
    text-align: center;
    align-self: center;
}
div.info{
    background-color: #020427;
    color: #34aaff;
    padding-left: 5px;
    display: flex;
}
h1.title.info{
    color: #34aaff;
    padding-left: 5px;
    background-color: #020427;
    margin: 0%;
}
div.Certs.left{
    flex: 80%;
}
a.Certs.right{
    text-decoration: none;
    color: #34aaff;
    font-weight: bolder;
    flex: 20%;
    text-align: end;
}
a.Certs.right:hover{
    color: white;
}