body{
    display: flex;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    display: none;
    flex-direction: column;
    padding: 5px;
    background-color: #363636;
    float: left;
    width: 10vw;
    height: 99vh;
}
nav.nav-animation-open{
    display: flex;
    animation: open 2s;
    

}
nav.nav-animation-close{
    display: none;
    animation: close 2s;
}
h1.nav{
    text-overflow: unset;
    animation: close;
}
button.menuselect{
    background-color: #34aaff;
    border-radius: 20%;
    border: solid #020427 1px;
    float: left;
}
img.menuselect{
    width: 20px;
}

@keyframes open {
    from {width: 0px;
        font-size: 0px;
        }

    to {width: 10vw;
        font-size: initial;
        }
}
@keyframes close {
    from{display: flex; 
        width: 10vw;}
    to{ 
    width: 0px;
    display: none;
    font-size: 0px;}
}